[client]
database = mybeckary
host = 127.0.0.1
user = root
password = 3287973mihelitto
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci